
:root {
    /*Color Types*/
    --sweetBlue: #326c90;
    --greyNav: #333333;
    --turquoise: #56e79f;
    --mellowViolet: #4f5487;
    --palmPurple: #9973ab;
    --bubbleBlue: #038dd0;
    --olieOrange: #dc954b;
    --glowGreen: #76b830;
    --peachyPink: #f45556;
    --errorPink: #ffadad;
}
body {
    padding-top: 123px;
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 0;
}
.top-bar {
    width: 100%;
    height: 70px;
    background: #326c90;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.top-logo {
    font-family: Arial;
    font-size: 25px;
    margin: 1% 5% 1% 5%;
    padding-left: 20px;
    width: 20%;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}
#search-form {
    margin: 1% 5% 1% 5%;
    display: inline-block;
    padding-left: 120px;
}
@media (max-width: 635px) {
    #search-form {
        display: none;
    }
}
.search-box {
    border: none;
    padding: 3px 5px 3px 5px;
    border-radius: 6px;
}
#search-button {
    background: none;
    border: none;
}
.search-icon {
    color: white;
}
.search-icon:hover {
    color: black;
}
.navbar-fixed {
    position: fixed;
    top: 70px;
    border-width: 0 0 1px;
    right: 0;
    left: 0;
    z-index: 1030;
    border: 1px solid transparent;
    background: #333333;
}
.li-links {
    text-transform: uppercase;
}
    .li-links > li > a {
        color: #56e79f;
    }
@media (min-width: 768px) {
    .navbar-fixed {
        border-radius: 0;
    }
}

/*Make the footer stick to the bottom if the content is less
*/
body {
    height: 100vh;
    margin: 0;
}

head {
    min-height: 50px;
}

footer {
    min-height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}


footer {
    background: #333333;
    width: 100%;
    bottom: 0;
    color: white;
}
    footer p {
        margin: 0;
        padding-left: 10px;
        padding-bottom: 10px;
    }
.footer-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 150px 5px 40px;
}
@media (max-width: 855px) {
    .footer-panel {
        padding: 20px 50px 5px 40px;
    }
}
.footer-nav h4 {
    color: #56e79f;
}
.footer-nav ul {
    padding: 0;
}
.footer-nav li {
    list-style-type: none;
}
.footer-nav a {
    text-decoration: none;
    color: white;
}
    .footer-nav a:hover {
        color: #56e79f;
    }
.outer-line {
    width: 100%;
    text-align: right;
    display: inline-block;
    padding-right: 200px;
    padding-left: 40px;
}
@media (max-width: 343px) {
    .outer-line {
        text-align: left;
        padding-right: 0;
    }
}
/*Index Page*/
.emergency-button {
    padding: 20px 0;
    overflow: hidden;
}
    .emergency-button button {
        border: 2px solid red;
        border-radius: 50px;
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 170px;
        align-items: center;
        background: white;
    }
@media (max-width: 635px) {
    .emergency-button button {
        padding: 3px 8px;
        width: 150px;
    }
    .emergency-button h4 {
        font-size: 16px;
    }
}
    .emergency-button button:hover {
        background: #ffadad;
    }
.emergency-button h4 {
    color: red;
}
    .emergency-button span {
        font-size: 20px;
        background: red;
        display: inline-block;
        padding: 0 8px;
        border-radius: 50%;
        color: white;
    }
.index-image {
    width: 100%;
    height: 350px;
    color: inherit;
    background: #eeeeee;
}
.tab-icon-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.tab-icon {
    border: black thin solid;
    width: 14.28571428571429%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column
}
.tab-icon:not(.tab-icon:nth-child(7)){
    border-right: none;
}
@media (max-width: 995px) {
    .tab-icon-links {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tab-icon {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .tab-icon p{
        margin: 0;
        padding-top: 5px;
    }
    .fa-info-circle:before, .fa-hand-holding-usd:before, .fa-stethoscope:before, .fa-phone-square:before, .fa-calendar-alt:before, .fa-file-invoice-dollar:before, .fa-question:before {
        font-size: 16px;
        padding-right: 10px;
    }
}
.tab-icon i {
    font-size: 23px;
    padding-bottom: 10px;
}
    .tab-icon p {
        color: black;
        text-decoration: none;
    }
        .tab-icon:hover {
            background: #f8f9fa;
            text-decoration: none;
        }
.fa-info-circle {
    color: #4f5487;
}
.fa-hand-holding-usd {
    color: #9973ab;
}
.fa-stethoscope {
    color: #038dd0;
}
.fa-phone-square {
    color: #dc954b;
}
.fa-calendar-alt {
    color: #76b830;
}
.fa-file-invoice-dollar {
    color: #f45556;
}
.fa-question {
    color: #4f5487;
}