
:root {
    /*Color Types*/
    --sweetBlue: #326c90;
    --greyNav: #333333;
    --turquoise: #56e79f;
    --mellowViolet: #4f5487;
    --palmPurple: #9973ab;
    --bubbleBlue: #038dd0;
    --olieOrange: #dc954b;
    --glowGreen: #76b830;
    --peachyPink: #f45556;
    --errorPink: #ffadad;
}
body {
    padding-top: 123px;
    margin: 0;
    overflow-x: hidden;
    padding-bottom: 0;
}
.top-bar {
    width: 100%;
    height: 70px;
    background: #326c90;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.top-logo {
    font-family: Arial;
    font-size: 15px;
    padding-left: 50px;
    width: 50%;
    display: inline-block;
}
#logo-black{
    color: black;
}
.top-logo img {
    width: 70px;
    height: 40px;
}
#logo-words {
    padding-left: 20px;
}
.top-logo a {
    color: white;
    text-decoration: none;
}
#search-form {
    margin: 1% 5% 1% 5%;
    display: inline-block;
    padding-left: 120px;
}
@media (max-width: 895px) {
    #search-form {
        display: none;
    }
    .top-logo {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .top-logo {
        padding-left: 20px;
    }
}
.search-box {
    border: none;
    padding: 3px 5px 3px 5px;
    border-radius: 6px;
}
#search-button {
    background: none;
    border: none;
}
.search-icon {
    color: white;
}
.search-icon:hover {
    color: black;
}
.navbar-fixed {
    position: fixed;
    top: 70px;
    border-width: 0 0 1px;
    right: 0;
    left: 0;
    z-index: 1030;
    border: 1px solid transparent;
    background: #333333;
}
.li-links,
    .li-links > li > a {
        color: #56e79f;
    }
@media (min-width: 768px) {
    .navbar-fixed {
        border-radius: 0;
    }
}
footer {
    background: #333333;
    width: 100%;
    bottom: 0;
    color: white;
}
    footer p {
        margin: 0;
        padding-left: 10px;
        padding-bottom: 10px;
    }
.footer-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 150px 5px 40px;
}
@media (max-width: 855px) {
    .footer-panel {
        padding: 20px 50px 5px 40px;
    }
}
.footer-nav h4 {
    color: #56e79f;
}
.footer-nav ul {
    padding: 0;
}
.footer-nav li {
    list-style-type: none;
}
.footer-nav a {
    text-decoration: none;
    color: white;
}
    .footer-nav a:hover {
        color: #56e79f;
    }
.outer-line {
    width: 100%;
    text-align: right;
    display: inline-block;
    padding-right: 200px;
    padding-left: 40px;
}
@media (max-width: 343px) {
    .outer-line {
        text-align: left;
        padding-right: 0;
    }
}
/*Index Page*/
.emergency-button {
    padding: 20px 0;
    overflow: hidden;
}
    .emergency-button button {
        border: 2px solid red;
        border-radius: 50px;
        padding: 5px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 170px;
        align-items: center;
        background: white;
    }
@media (max-width: 635px) {
    .emergency-button button {
        padding: 3px 8px;
        width: 150px;
    }
    .emergency-button h4 {
        font-size: 16px;
    }
}
    .emergency-button button:hover {
        background: #ffadad;
    }
.emergency-button h4 {
    color: red;
}
    .emergency-button span {
        font-size: 20px;
        background: red;
        display: inline-block;
        padding: 0 8px;
        border-radius: 50%;
        color: white;
    }
.index-image {
    position: relative;
}
.index-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: -5px 0px;
    color: inherit;
    background: #eeeeee;
}
.index-image p {
    position: absolute;
    font-size: 20pt;
    white-space: pre-line;
    text-align: center;
    color: white;
        filter: drop-shadow(1px 6px 6px rgba(0,0,0,0.7));
    top: 60px;
    right: 20%;
}
#title-blue {
    font-size: 28pt;
}
@media (max-width: 995px) {
    .index-image p {
        right: 10%;
    }
}
.tab-icon-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
.tab-icon {
    border: #777777 thin solid;
    width: 14.28571428571429%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column
}
.tab-icon:not(.tab-icon:nth-child(7)){
    border-right: none;
}
@media (max-width: 995px) {
    .tab-icon-links {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tab-icon {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .tab-icon:not(.tab-icon:nth-child(7)) {
        border-right: #777777 thin solid;
        border-bottom: none;
    }
    .tab-icon p{
        margin: 0;
        padding-top: 5px;
    }
    .fa-info-circle:before, .fa-hand-holding-usd:before, .fa-stethoscope:before, .fa-phone-square:before, .fa-calendar-alt:before, .fa-file-invoice-dollar:before, .fa-question:before {
        font-size: 16px;
        padding-right: 10px;
    }
}
.tab-icon i {
    font-size: 23px;
    padding-bottom: 10px;
}
    .tab-icon p {
        color: black;
        text-decoration: none;
    }
        .tab-icon:hover {
            background: #f8f9fa;
            text-decoration: none;
        }
.fa-info-circle {
    color: #4f5487;
}
.fa-hand-holding-usd {
    color: #9973ab;
}
.fa-stethoscope {
    color: #038dd0;
}
.fa-phone-square {
    color: #dc954b;
}
.fa-calendar-alt {
    color: #76b830;
}
.fa-file-invoice-dollar {
    color: #f45556;
}
.fa-question {
    color: #4f5487;
}
.nu-container h2 {
    padding: 30px 0 10px 45px;
    color: var(--sweetBlue);
}
.nu-info-boxes {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.nu-boxes {
    box-shadow: 1px 2px 30px var(--sweetBlue);
    border-radius: 10px;
    width: 28%;
    background: white;
}
.nu-items img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.nu-prefix {
    padding: 30px;
}
.nu-prefix a {
    cursor: pointer;
}
.nu-prefix p:nth-child(3) {
    padding-top: 10px;
}
@media (max-width: 995px) {
    .nu-info-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: unset;
    }
    .nu-boxes {
        width: 100%;
        margin: 20px;
    }
    .nu-container h2 {
        padding: 30px 0 0 20px;
    }
}