@model TiminsHospitalProjectV3.Models.EmployeeDto

@{
    ViewBag.Title = "DeleteConfirm";
}
@Html.ActionLink("Back to List", "List")
<div class="wrapper">
    <div class="title">
        <h3>Are you sure you want to delete  @Html.DisplayFor(model => model.EmployeeFirstname)  @Html.DisplayFor(model => model.EmployeeLastname)?</h3>
    </div>

</div>
@using (Html.BeginForm("Delete", "Employee", new { id = Model.EmployeeID }))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color center">
        <input type="submit" value="Delete" class="btn btn-default button" />
    </div>
}